* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


body {
    background: #232323;
    height: 100vh;
}

.square {
    width: 30%;
    background: #800080;
    margin: 1.66%;
}

.container {
    display: flex;
    max-width: 600px;
    height: 400px;
    margin: 0 auto;
    flex-flow: wrap;
}

h1 {
    color: #fff;
    font-family: -apple-system, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h4 {
    color: #fff;
    size: 3em;
    font-family: -apple-system, 'Open Sans', 'Helvetica Neue', sans-serif;
}

span {
    color: #fff;
}

.centerT {
    text-align: center;
}